.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}

.headerContent {
  display: flex;
  flex-direction: column;
  color: #313131;
  font-family: "Montserrat Regular", sans-serif;
  width: 1000px;
  text-align: left;
  text-transform: lowercase;
  z-index: 1;
}

.headerTitle {
  font-family: "Lexend Black", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.headerDescription {
  font-family: "Lexend Regular", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bspfRy {
  background: linear-gradient(transparent, var(--bg-primary)), url("https://capy.lol/polka-dots.svg");
  position: absolute;
  inset: 0;
  height: 600px;
  z-index: 0;
}
