.card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  background: #d2c1ab;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 10px;
  color: #4d4d4d;
  font-family: "Lexend Regular", sans-serif;
  width: 75%;
  height: fit-content;
  margin-bottom: 1.5rem;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  border-right: 2px solid rgba(0, 0, 0, 0.12);
  padding-right: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-bottom: .5rem;
}

.pseudo {
  font-weight: bold;
}

.date {
  font-style: italic;
  color: #6c6c6c;
}
