.navbar {
  display: flex;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 6rem;
  background: rgba(234, 226, 215, 0.8);
  border-bottom: 1px solid #bcb4ac;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.logoContainer:hover {
  transform: scale(1.05);
}

.logo {
  width: 3rem;
  height: 3rem;
}

.title {
  font-family: "Montserrat Regular", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #4d4d4d;
  margin-top: 4px;
  pointer-events: none;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.navlinks {
  display: flex;
  list-style: none;
  height: fit-content;
  align-items: center;
  margin-left: 3rem;
}

.navlinks > li {
  font-family: "Montserrat Regular", sans-serif;
  color: #9e9e9e;
  font-weight: bold;
  text-transform: lowercase;
  margin: 0 .5rem;
  transition: all .5s ease-in-out;
  padding: 5px 10px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.navlinks > li:hover {
  transform: translateY(-3px);
  border-bottom: 1px solid #bcb4ac;
}

.active {
  color: #4d4d4d!important;
  border-bottom: 3px solid #bcb4ac;
  transform: translateY(2px);
}
