.title {
  text-align: center;
  margin: 1rem;
  font-family: "Montserrat Regular", sans-serif;
  font-size: 2rem;
  color: #fff;
}

.grid {
  position: relative;
  z-index: 10000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 1rem 5rem;
  gap: 3rem;
  justify-items: center;
}
