.capyWalking {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: capyWalking 10s linear infinite;
  transition: all 0.5s ease-in-out;
}

/* Animation that makes capybara go from right to left */
@keyframes capyWalking {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.capyGif {
  width: 200px;
  height: auto;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.capyGif:hover {
  transform: scale(1.2) translateY(-10px);
}
