.form {
  position: absolute;
  background: #d2c1ab;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 5rem 5rem;
  color: #4d4d4d;
}

.form > h1 {
  font-family: "Lexend Regular", sans-serif;
  margin-bottom: 2rem;
  text-align: center;
  color: #4d4d4d;
  width: 100%;
}

.form > h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #282828;
  margin-top: 0.33rem;
}

.input {
  height: 3rem;
  margin-bottom: 1rem;
  border: 1px solid #cbcbcb;
  background-color: var(--bg-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  color: #808080;
  width: 100%;
}

.submitBtn {
  height: 3rem;
  margin-top: 1rem;
  border: none;
  background-color: rgb(255, 179, 46);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
}

.subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.subtitle > * {
  color: #808080;
}

.subtitle > a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-top: .5rem;
}
